@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

.types-table-wrapper {
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

.types-table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #333333;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 1px;
  margin-right: 1px;
}

.types-table-th {
  color: rgba(51, 51, 51, 0.75);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.types-table-th :first-of-type,
.types-table-th :last-of-type {
  padding-left: 20px;
}

.types-table-body {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 1px, rgba(0, 0, 0, 0.065) 0 0 0 1px;
  border-radius: 4px;
}

.types-table-tr {
  padding-left: 20px;
  padding-right: 20px;
}

.types-table-td {
  padding: 10px 20px;
}

.types-table-body-tr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e6e6e6;
}

.types-table-body-tr :first-child {
  width: 20%;
  font-weight: bold;
}

.types-table-title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 0.5rem;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #333333;
  font-weight: 900;
}
